.details {
  color: #2b2839;
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  border: 1px solid black;
  border-radius: 20px;
  background-color: #ffdab9;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}